[log]
level=info
file=/storage/local/data1/home/rexbatch/userSuspension/userSuspension.log

[ssl]
cert=/etc/grid-security/jobsub/fifebatch-hostcert.pem
key=/etc/grid-security/jobsub/fifebatch-hostkey.pem
cadir=/etc/grid-security/certificates

[ferry]
hostname=https://ferry.fnal.gov:8445/
api=getAllUsersFQANs?suspend=true

[condor]
hold_command=/usr/bin/condor_hold -constraint
