[general]
#cache_dir=cache
cache_max_diff=20
dn_template=/DC=org/DC=cilogon/C=US/O=Fermi National Accelerator Laboratory/OU=People/CN=%%s/CN=UID:%%s

[log]
dir=log
level=INFO

[userdb]
uid.lis=http://www-giduid.fnal.gov/cd/FUE/uidgid/uid.lis
gid.lis=http://www-giduid.fnal.gov/cd/FUE/uidgid/gid.lis
services-users.csv=https://metrics.fnal.gov/authentication/datafiles/services-users.csv

[ferry]
hostname=https://ferry.fnal.gov:8443/
api_get_users=getAllUsers
api_get_certificates=getAllUsersCertificateDNs
api_get_groups=getAllGroups
api_get_group_members=getAllGroupsMembers
api_get_users_fqans=getAllUsersFQANs
api_get_passwd_file=getPasswdFile
api_set_user_info=setUserInfo
api_set_user_fqan=setUserExperimentFQAN
api_set_compute_access=setUserAccessToComputeResource
api_create_user=createUser
api_create_group=createGroup
api_add_group_member=addUserToGroup
api_add_user_certificate=addCertificateDNToUser
api_clean_storage_quotas=cleanStorageQuotas
api_clean_condor_quotas=cleanCondorQuotas
compute_resources=fermi_workers:fnalgrid,/home/$USER,/sbin/nologin,true;fermigrid:fnalgrid,/home/$USER,/sbin/nologin,true
fqans=/fermilab/Role=NULL/Capability=NULL:fermilab,/fermilab/Role=Analysis/Capability=NULL:fermilab
cert=hostcert.pem
key=hostkey.pem
ca=cilogon-osg.pem