[ferry]
hostname=https://ferry.fnal.gov:8445/ 
cert=/home/dbiapp/www/certs/ferry/dbweb9.fnal.gov-cert.pem
key=/home/dbiapp/www/certs/ferry/dbweb9.fnal.gov-key.pem
ca=/home/dbiapp/local/etc/grid-security/certificates

[slack]
url=https://hooks.slack.com/services/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
payload =
    {
        "attachments":[
            {
                "fallback":"<https://landscapeitb.fnal.gov/kibanadev/goto/2dd4642c8ad04780da3a3be7399e2482|Update Script Error>",
                "pretext":"<https://landscapeitb.fnal.gov/kibanadev/goto/2dd4642c8ad04780da3a3be7399e2482|Update Script Error>",
                "color":"#D00000",
                "fields":[
                    {
                    "title":"$MSG",
                    "value":"$ACT",
                    "short":false
                    }
                ]
            }
        ]
    }
