[general]
cache_dir=/home/dbiapp/products/ferry/current/logs
cache_max_diff=0.05
dn_template=/DC=org/DC=cilogon/C=US/O=Fermi National Accelerator Laboratory/OU=People/CN=%%s/CN=UID:%%s

[log]
dir=log
level=DEBUG

[userdb]
uid.lis=http://www-giduid.fnal.gov/cd/FUE/uidgid/uid.lis
gid.lis=http://www-giduid.fnal.gov/cd/FUE/uidgid/gid.lis
# If problems with services file.  Snow Catorization and Group: Authentication and Directory Services
# That is Al Lilianstom's group:  lilstrom@fnal.gov
services-users.csv=https://metrics.fnal.gov/authentication/datafiles/services-users.csv

[ferry]
hostname=https://ferry.fnal.gov:8445/
cert=/home/dbiapp/www/certs/ferry/dbweb6.fnal.gov-cert.pem
key=/home/dbiapp/www/certs/ferry/dbweb6.fnal.gov-key.pem
ca=/home/dbiapp/local/etc/grid-security/certificates
skip_user_errors=username already exists,username not found,not enough arguments
skip_group_errors=groupname not found
compute_resources=fermi_workers:fnalgrid,/home/$USER,/sbin/nologin,true;fermigrid:fnalgrid,/home/$USER,/sbin/nologin,true
fqans=/fermilab/Role=NULL/Capability=NULL:fermilab,/fermilab/Role=Analysis/Capability=NULL:fermilab

[slack]
url=https://hooks.slack.com/services/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
payload =
    {
        "attachments":[
            {
                "fallback":"<https://landscapeitb.fnal.gov/kibanadev/goto/2dd4642c8ad04780da3a3be7399e2482|Update Script Error>",
                "pretext":"<https://landscapeitb.fnal.gov/kibanadev/goto/2dd4642c8ad04780da3a3be7399e2482|Update Script Error>",
                "color":"#D00000",
                "fields":[
                    {
                    "title":"$MSG",
                    "value":"$ACT",
                    "short":false
                    }
                ]
            }
        ]
    }
