[ferry]
hostname=https://fermicloud033.fnal.gov:8443/
cert=/Users/asegura/certs/hostcert.pem
key=/Users/asegura/certs/hostkey.pem
ca=/Users/asegura/certs/certificates
testhost=https://fermicloud033.fnal.gov:8443/
repositoryroot=/Users/asegura/ferment
ferryapiroot= /Users/asegura/ferment/API/src
ferryapiexecutable=/Users/asegura/ferment/API/src/src
ferryuser=asegura
[log]
dir=log
level=INFO
file=full_output
