[path]
source_dir=source

[sources]
uid.lis=http://www-giduid.fnal.gov/cd/FUE/uidgid/uid.lis
gid.lis=http://www-giduid.fnal.gov/cd/FUE/uidgid/gid.lis
services-users.csv=https://metrics.fnal.gov/authentication/datafiles/services-users.csv

[ferry]
hostname=fermicloud051.fnal.gov
username=postgres
password=*********
schema=ferry