[Unit]
Description = Ferry API
After=network.target

[Service]
Type = simple
User = ferry
ExecStart = /home/ferry/ferry/API/src/src -c /home/ferry/ferry/API/src/

[Install]
WantedBy = multi-user.target