[path]
mysql=/usr/bin/mysql
output=ferry.sql
cadir=/etc/grid-security/certificates

[main_db]
hostname=localhost
port=3306
username=root
password=xxx
schema=ferry
schemadump=../../db/dumps/ferry-schema.sql

[gums_config]
gums_config=gums.config
;====================================================================================
;====================================================================================
[user_db]
uid_file=uid.lis
gid_file=gid.lis
services_user_file=services-users.csv

[voms_instances]
list=fermilab,dune,des

[voms_db_fermilab]
url=https://voms.fnal.gov:8443/vomses/fermilab
hostname=localhost
port=3306
username=root
password=xxx
schema=voms26_fermilab

[voms_db_dune]
url=https://voms.fnal.gov:8443/vomses/dune
hostname=localhost
port=3306
username=root
password=xxx
schema=voms26_dune


[voms_db_des]
url=https://voms.fnal.gov:8443/vomses/des
hostname=localhost
port=3306
username=root
password=xxx
schema=voms26_des

[vulcan]
hostname=localhost
port=5432
username=dbadmin
password=xxx
database=vulcan
validgroups=vulcan.gid.lis
cmsurl=https://voms2.cern.ch:8443/voms/cms
cmsvo=cms

[nis]
dir_path=nis
exclude_domain=d0nis,fcdfnis,eag,gpcf
name_mapping={'e938': 'minerva', 't-962':'argoneut', 'e898':'miniboone','e-906':'seaquest','microboone':'uboone','t-987':'damic','e875':'minos'}
