[main_db]
hostname=localhost
port=3306
username=root
password=xxx
schema=ferry

[gums_config]
gums_config=gums.config
;====================================================================================
;====================================================================================
[user_db]
uid_file=uid.lis
gid_file=gid.lis
services_user_file=services-users.csv

[voms_instances]
list=fermilab,dune,des

[voms_db_fermilab]
url=https://voms.fnal.gov:8443/vomses/fermilab
hostname=localhost
port=3306
username=root
password=xxx
schema=voms26_fermilab

[voms_db_dune]
url=https://voms.fnal.gov:8443/vomses/dune
hostname=localhost
port=3306
username=root
password=xxx
schema=voms26_dune


[voms_db_des]
url=https://voms.fnal.gov:8443/vomses/des
hostname=localhost
port=3306
username=root
password=xxx
schema=voms26_des

